.wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: stretch;
    height: 768px;
    margin-bottom: 120px;
}

#map-wrapper {
    width: 65%;
    background-color: cornsilk;
    flex: 1.5;
    height: 768px;
    margin-bottom: 5%;
}

#map {
    right:0;
    top:0;
    height: 768px;
    width:100%;
}

